body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    color: #242729;
    background: #FFF;
    margin: 0;
    min-width: 1060px;
}

a {
    text-decoration: none;
    color: #242729;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

header {
    padding: 40px 0 15px;
    border-bottom: 1px #ccc solid;
}

header.column {
    margin-bottom: 30px;
}

header h2 {
    display: inline;
    margin-left: 30px;
    font-size: 1.5em;
    color: #aaa;
    font-weight: normal;
}

h2 {
    font-size: 2em;
}

footer {
    background: #6b6b6b;
    color: #c0cad4;
    height: 200px;
    margin-top: 40px;
    padding: 40px 0;
}

footer a {
    color: #c0cad4;
}

ul {
    padding-left: 20px;
}

.container {
}

.column {
    margin: 0 auto;
    width: 1060px;
    padding-left: 15px;
}

.logo {
    background-image: url('/Content/Images/minecraft-answered-logo.png');

    display: inline-block;
    width: 358px;
    height: 67px;
    text-indent: -999999em;
    vertical-align: text-bottom;
}

.strip {
    background: #69a9a9;
    padding: 40px 0;
    margin: 30px 0;
    color: #fff;
}

.strip a {
    color: #fff;
}

.question-hyperlink {
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;
}

.audit {
    color: #bbb;
    padding-top: 10px;
}

.audit.verified {
    color: #82ca82;
}
.audit.unverified {
    color: #ff9d9d;
}

.answer {
    font-size: 3.5em;
    line-height: normal;
}

.answer p {
    margin: 10px 0;
}

.answer-details {
    line-height: 1.3;
    border-bottom: 1px solid #aaa;
}

.details {
    padding-bottom: 30px;
    border-bottom: 1px #ccc solid;
}

.links ul a {
    font-size: 1.5em;
    line-height: 1.5em;
}

.leaderboard-advert {
    margin: 40px auto;
    /*width: 728px;*/
}

.welcome {
    color: #fff;
    line-height: normal;
}

.welcome * h1 {
    font-size: 3em;
}

.redirects {
    font-size: 1.5em;
}

.redirects ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

.redirects img {
    width: 1em;
    height: 1em;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/content/fonts/mcfont.eot');
  src: url('/content/fonts/mcfont.eot?#iefix') format('embedded-opentype'),
       url('/content/fonts/mcfont.woff') format('woff'),
       url('/content/fonts/mcfont.ttf')  format('truetype'),
       url('/content/fonts/mcfont.svg#svgFontName') format('svg');
}

.button {
  height: 40px;
  /*width: 400px;*/
  outline: 2px solid black;
  position: relative;
  margin: 0;
  display: inline-block;
  background-image: url('/content/images/button_center.png');
  background-repeat: repeat;
  padding: 0 8px;
  font-family: Minecraft;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 16px;
}

.button span {
  position: relative;
  line-height: 40px;
  bottom: 3px;
}

.button:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-image: url('/content/images/button_active_center.png');
  color: #FFFFA0;
}

.code {
    color: #ce0000;
    border: 2px solid #a0a0a0;
    background-color: #dedede;
    border-radius: 6px;
    padding: 0 5px;
    font-family: monospace;
    font-size: 0.9em;
}

@media (max-width: 1060px) { /*MEDIUM (TABLET) WIDTH*/
    header h2 { margin-left: 0; }

    body { min-width: 600px; }

    .column {
        width: 600px;
    }

    .logo {
        display: block;
    }
}

@media (max-width: 650px) {  /*NARROW (PHONE) WIDTH*/
    body { min-width: 250px; }

    .column {
        width: 250px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo {
        width: 100%;
        background-size: 100%;
    }
}