body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #242729;
    background: #FFF;
    margin: 0;
}

a {
    text-decoration: none;
    color: #242729;
}

h1 {
    margin: 40px 0;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 1060px;
}

header.content {
    padding: 40px 0;
    border-bottom: 1px #ccc solid;
}

a.logo {
    background-image: url('/Content/Images/minecraft-answers-logo.png');
    background-position: top left;
    background-repeat: no-repeat;

    display: block;
    width: 345px;
    height: 62px;
    text-indent: -999999em;
}

.strip {
    background: #69a9a9;
    padding: 40px 0;
    margin: 30px 0;
}

.question-hyperlink {
    font-weight: bold;
    font-size: 38px;
    line-height: normal;
}

.answer {
    font-size: 48px;
    color: #fff;
    line-height: normal;
    margin: 0;
}

.answer p {
    margin: 10px;
}

.answer-details {
    line-height: 1.3;
    border-bottom: 1px solid #aaa;
}

h2 {
    
}