body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    color: #242729;
    background: #FFF;
    margin: 0;
    min-width: 1060px;

}

a {
    text-decoration: none;
    color: #242729;
}

h1 {
    margin: 0;
}

header {
    padding: 40px 0;
    border-bottom: 1px #ccc solid;
}

header.column {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
}

footer {
    background: #6b6b6b;
    color: #c0cad4;
    height: 200px;
    margin-top: 40px;
    padding: 40px 0;
}

.container {
    min-height: 700px;
}
.column {
    margin: 0 auto;
    width: 1060px;
    padding-left: 15px;
}

.logo {
    background-image: url('/Content/Images/minecraft-answered-logo.png');

    display: block;
    width: 358px;
    height: 67px;
    text-indent: -999999em;
}

.strip {
    background: #69a9a9;
    padding: 40px 0;
    margin: 30px 0;
    color: #fff;
}

.question-hyperlink {
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;
}

.audit {
    color: #bbb;
    padding-top: 10px;
}

.audit.verified {
    color: #82ca82;
}
.audit.unverified {
    color: #ff9d9d;
}

.answer {
    font-size: 3.5em;
    line-height: normal;
}

.answer p {
    margin: 10px 0;
}

.answer-details {
    line-height: 1.3;
    border-bottom: 1px solid #aaa;
}

.details {
    padding-bottom: 30px;
    border-bottom: 1px #ccc solid;
}

.links a {
    font-size: 1.5em;
    line-height: 1.5em;
}

.leaderboard-advert {
    margin: 40px auto;
    width: 728px;
}

.welcome {
    color: #fff;
    line-height: normal;
}

.welcome * h1 {
    font-size: 3em;
}