@using AJN.Jonesy.Business
@model AJN.Jonesy.Website.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

@section Title {Simple anwers for every question - Minecraft Answered}

@section Head {
    <meta name="twitter:title" property="og:title" itemprop="title name" content="Minecraft Answered" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="Simple answers to every Minecraft question." />
    <meta name="description" content="Simple answers to every Minecraft question.">
    <meta property="og:url" content="http://minecraftanswered.imbick.com" />
}

<div class="strip welcome">
    <div class="column">
        <h1>Welcome to Minecraft Answered</h1>
    </div>
</div>
<div class="column">
    <div class="details">
        <p>Here you will find simple answers to every question in Mojang's popular sandbox construction game Minecraft.</p>
        <p>Each answer covers predominately the latest official vanilla version of Minecraft.</p>
        <p>If you would like further in-depth information about a given topic it is worth reading the <a href="http://minecraft.gamepedia.com/">official Minecraft wiki</a>.
        </p>
    </div>
    <div class="links">
        <h2>Some popular questions to get you started</h2>
        <ul>
            @foreach (var question in Model.PopularQuestions)
            {
                <li>
                    <a href="@QuestionUrlParser.Generate(question)">@question.Text</a>
                </li>
            }
        </ul>
    </div>
    <div class="leaderboard-advert">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Minecraft Answered responsive -->
        <ins class="adsbygoogle"
             style="display: block"
             data-ad-client="ca-pub-7142257795026948"
             data-ad-slot="5821988434"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

