<!DOCTYPE html>

<html itemscope itemtype="http://schema.org/QAPage">
<head>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/main.css">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="logo.gif"/>
        </header>
            @RenderBody()
        </div>
</body>
</html>
