<!DOCTYPE html>

<html itemscope itemtype="http://schema.org/QAPage">
<head>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="/Content/Styles/main.css">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header class="content">
            <a href="/" class="logo">Minecraft Answers</a>
        </header>
        @RenderBody()
    </div>
</body>
</html>
